{% extends 'skeleton.html.twig' %}

{% block body %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ path('homepage') }}">
      <img src="{{ asset("Icon-White.png") }}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ path('door_main') }}">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-human-wheelchair mdi-18px"></i>
          </span>
          <span>Porta</span>
        </span>
      </a>

      <a class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-bed mdi-18px"></i>
          </span>
          <span>Observação</span>
        </span>
      </a>

      <a class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-calculator-variant mdi-18px"></i>
          </span>
          <span>Calculadoras</span>
        </span>
      </a>

      <a class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-controller mdi-18px"></i>
          </span>
          <span>Passatempos</span>
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon-text">
            <span class="icon">
              <i class="mdi mdi-account mdi-18px"></i>
            </span>
            <span>{{ app.user.username }}</span>
          </span>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="#">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-cog mdi-18px"></i>
              </span>
              <span>Config</span>
            </span>
          </a>

          <a class="navbar-item" href="#">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-account-box-edit-outline mdi-18px"></i>
              </span>
              <span>Perfil</span>
            </span>
          </a>

          <a class="navbar-item" href="{{ path('_logout_main') }}">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-logout mdi-18px"></i>
              </span>
              <span>Sair</span>
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>

<div class="section">
  <div class="container">
    {% block contents %}{% endblock %}
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bueiro</strong>
      por
      <a href="https://nereare.com">Igor Padoim</a>.
    </p>
    <p>
      O código-fonte está licenciado sob a
      <a href="https://firstdonoharm.dev/">Licença Hipocrática</a>.
    </p>
  </div>
</footer>
{% endblock %}